.navigation {
    margin: 0px;
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.logo {
    font-family: 'Gudea', sans-serif;
    font-size: 48px;
}
.logobold {
    font-weight: 900;
    font-family: 'Gudea', sans-serif;
    font-size: 48px;
}
.nav {
    font-family: 'Gudea', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    width: 75%;
}
.currentpage {
    font-weight: 900px;
}
.heroImg {
    height: 325px;
    padding: 50px;
    margin: 0px;
    display: inline-block;
    background-color: #F0F6F6;
    width: 100%;
}
.content {
    width: 500px;
    margin: 0px;   
}
footer {
    background-color: #373738;
    height: 400px;
}
.header {
    height: 50px;
    padding: 50px;
}
h1 {
    font-family: 'Gudea', sans-serif;
    font-size: 24px;
}
h2 {
    font-family: 'Gudea', sans-serif;
    font-size: 24px; 
}
p {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}
#footerh2 {
    color: white;
    text-align: center;
}
button {
    background-color: #647387;
    color: white;
    margin: auto;
    height: 25px;
    width: 100px;
    border-radius: 5px;
}
.container {
    width: 400px;
    position: relative;
    text-align: center;
    margin: auto;
}
.icons {
    display: block;
}
.email {
    margin: 50px;
}
.whitecopy {
    color: white;
    text-align: center;
}
